HamAndEggsBPEL/src/localhost_8080/CookingCleaning/Cook.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cookingcleaning.dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cookingcleaning.dtu.dk/" name="Cook">
<types>
<xsd:schema>
<xsd:import namespace="http://cookingcleaning.dtu.dk/" schemaLocation="http://localhost:8080/CookingCleaning/Cook?xsd=1"/>
</xsd:schema>
</types>
<message name="bakeOmelet">
<part name="parameters" element="tns:bakeOmelet"/>
</message>
<message name="bakeOmeletResponse">
<part name="parameters" element="tns:bakeOmeletResponse"/>
</message>
<message name="breakEggs">
<part name="parameters" element="tns:breakEggs"/>
</message>
<message name="breakEggsResponse">
<part name="parameters" element="tns:breakEggsResponse"/>
</message>
<message name="EggSmellFault">
<part name="fault" element="tns:EggSmellFault"/>
</message>
<portType name="Cook">
<operation name="bakeOmelet">
<input wsam:Action="http://cookingcleaning.dtu.dk/Cook/bakeOmeletRequest" message="tns:bakeOmelet"/>
<output wsam:Action="http://cookingcleaning.dtu.dk/Cook/bakeOmeletResponse" message="tns:bakeOmeletResponse"/>
</operation>
<operation name="breakEggs">
<input wsam:Action="http://cookingcleaning.dtu.dk/Cook/breakEggsRequest" message="tns:breakEggs"/>
<output wsam:Action="http://cookingcleaning.dtu.dk/Cook/breakEggsResponse" message="tns:breakEggsResponse"/>
<fault message="tns:EggSmellFault" name="EggSmellFault" wsam:Action="http://cookingcleaning.dtu.dk/Cook/breakEggs/Fault/EggSmellFault"/>
</operation>
</portType>
<binding name="CookPortBinding" type="tns:Cook">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bakeOmelet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="breakEggs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EggSmellFault">
<soap:fault name="EggSmellFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="Cook">
<port name="CookPort" binding="tns:CookPortBinding">
<soap:address location="http://localhost:8080/CookingCleaning/Cook"/>
</port>
</service>
</definitions>